/* html{
    background-color: aqua;
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')  */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&display=swap')  */

*{
    margin: 0px;
    padding: 0px;

}

/* body{
    background-color: bisque;
} */

.header{
    background-color: bisque;
    padding: 20px 80px;
    margin-bottom: 130px;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 300px;
}

.logo img{
    width: 100%;
    height: 100%;

}
.menu ul li a{
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    
}

.menu ul{
    list-style: none;
    display: flex;
    
}
.menu ul li{
    margin-left: 30px;
    font-family: "Open Sans", sans-serif;
    
}


/* ------------------ */

.left-banner p{
    font-size: 50px;
    font-weight: bolder;
}

.left-banner h1{
    font-size: 100px;
    font-weight: bolder;
}

.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.bg-red{
    margin-right: 60px;
    color: white;
    background-color: brown;
    padding: 30px;
    font-size: 40px;
}

.bg-white{
    color: white;
    background-color: brown;
    padding: 30px;
    font-size: 40px;
}

.right-banner{
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: right;
}

.right-banner img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------- */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    margin: 50px;
    margin-bottom: 30px;
    
    /* background-color: white;
    margin: 0px; */     
}

.right-ab{
  margin-right: 150px;
  border: 10px solid black;
  /* width: 800px;
  height: 800px;
   */
}
.right-ab h1{
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    
}
.right-ab .back-info{
    padding: 60px;
}
.right-ab p{
    font-size: 64px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    /* color: white; */
}

.right-ab .question{
    font-size: 150px;
    font-weight: bolder;
    text-align: center;
}

.right-ab .back-info{
    color: #343434;
}


.right-ab ul {
    list-style: none;
}

.right-ab ul li img{
    width: 40px;
    margin-right: 30px;
}

.right-ab ul li{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 4rem;
    color: crimson;
}
.left-ab{
    width: 8000px;
    height: 800px;
    margin-left: 60px;
    
    /* border: 10px solid black; */
    
}


.about .left-ab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    /* object-fit: cover; */
}
.question{
    font-size: large;
}

/* About end  */

/* Service start */

.service{
    background-color: #E8E3D2;
    padding: 50px;
    text-align: center;
    /* justify-content: center; */
}

.service .service-1 img{
    height: 50px;
    width: 90px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    object-fit: cover;
    background-color: beige;
}

/* .service .service-1 .final-img{
    transform: rotate(-360deg);
} */

.service .service-1{
    font-size: 70px;
    align-items: center;
    
}
.service h1{
    font-weight: bolder;
    font-size: 125px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin-top: 5px;
}

.card-1{
    text-align: center;
}

.icon{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin-top: 100px;
}


.card-1 p{
    font-weight: normal;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    /* text-align: justify; */
}
.card-1 .handcuff{
    width: 100px;
    height: 100px;
    /* justify-self: center; */
    /* margin-left: 330px; */
}

.card-1 h3{
    font-weight: bolder;
    font-size: 50px;
}

.family{
    width: 100px;
    height: 100px;
}

.land-loan{
    width: 100px;
    height: 100px;
}

.card-2 h3{
    font-weight: bolder;
    font-size: 50px;
}

.card-3 h3{
    font-weight: bolder;
    font-size: 50px;
}


.card-2 p{
    font-weight: normal;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    /* text-align: justify; */
}

.card-3 p{
    font-weight: normal;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    /* text-align: justify; */
}

/* .card-1{
    border: 10px solid black;
   
}
.card-2{
    border: 10px solid black;

}
.card-3{
    border: 10px solid black;

} */

/* features */

.features{
    background-color: #343434;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 0px;
    /* padding: 0px 0px; */
    /* padding-bottom: 25px;        */

}

.meeticon{
    width: 100px;
    height: 100px;
}

.feature-text img{
    padding: 10px;
}

.feature-text{
    display: flex;
    gap: 10px;
    border-right: 1px solid white;
    
    /* padding: 45px auto; */
    /* padding: 20px 220px; */
    /* padding-left: 150px; */
    padding-right: 50px;
    padding-bottom: 80px;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}

.expert1{
    /* padding-right: 50px; */
    /* padding-top: 45px; */
    color: white;
}

/* .feature-text3{
    /* padding-left: 150px; */
    /* padding-right: 70px; */


.expert{
    margin-top: 0px;
}

.expert h2{
    color: white;
}
.exp-2ndline{
    /* border: 10px solid white; */
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
    /* font-family: "CormorantGaramond"; */
    font-size: 25px;
    font-weight: bold;
}

.exp-1stline{
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.expert p{
    color: white;
    margin-top: 0px;
}

/* imagesection */

.image{
    margin: 50px;
    /* width: 100%; */
    background-color: white;
}

.image img{
    width: 100%;
    object-fit: cover;
}

/* Testimony start */

